<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partypeople.www.partypeople" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.partypeople.www.partypeople.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.partypeople.www.partypeople.permission.C2D_MESSAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="com.facebook.app.FacebookContentProvider1234" -->
        <!-- android:exported="true" /> -->

        <activity
            android:name=".activity.PartyDetailActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.MakePartyActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoTitle.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoTitle.FullScreen" >
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/AppTheme.NoTitle.FullScreen" >
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.FollowActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.ParticipateActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name=".activity.EditProfileActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.partypeople.www.partypeople" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.RegistrationIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activity.UserListActivity"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity android:name=".activity.NoticeActivity"
            android:theme="@style/AppTheme.NoTitle">
        </activity>
    </application>

</manifest>
